# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BracketApp.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\MSSA\Side Projects\BracketBot\BracketApp\.idea\.idea.BracketApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
